[project]
name = "py-jsonl-ipc"
version = "0.0.26"
description = "Lightweight JSONL-based IPC using Python"
readme = "README.md"
requires-python = ">=3.13.5"
dependencies = []

[dependency-groups]
dev = [
    "pytest>=9.0.1",
]
